body {

}


#QnA-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: orange;

    width: 350px;
    height: 250px;
    padding: 15px;

    text-align: center;
    font-family: Arial;
}

#QnA-container div {
    margin-bottom: 25px;   
}

#QnA-container input, select {
    height: 30px;
}


.btn {
    border-radius: 10px;
    width: 150px;
    height: 35px;
    text-align: center;
}

.btn:hover {

    background-color: yellow;
}


#games-container ul {
    display: flex;
    
}

#games-container ul div {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}




